{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'PISU_Auth/css/PISU_Auth_Config.css' %}">
{% endblock %}

{% block content %}
<div class="config-container">
    <h1>Configuración</h1>
    <form method="post">
        {% csrf_token %}

        <div class="input-container">
            <label for="anonimo">Permanecer en modo anónimo:</label>
            {{ form.anonimo }}
        </div>

        <button type="submit" class="config-button">Guardar Configuración</button>
    </form>
</div>
{% endblock %}