{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'PISU_Auth/css/PISU_Auth.css' %}">
{% endblock %}

{% block content %}
<div class="auth-container">
    <div class="auth-header">
        <img src="{% static 'PISU_Auth/images/user-icon.png' %}" alt="User icon" class="auth-user-icon">
    </div>
    <h1>Registro</h1>
    <form method="post">
        {% csrf_token %}
        <div class="input-container">
            <span class="input-icon">👤</span>
            {{ form.username }}
        </div>
        <div class="input-container">
            <span class="input-icon">📧</span>
            {{ form.email }}
        </div>
        <div class="input-container">
            <span class="input-icon">🔒</span>
            {{ form.password }}
        </div>
        <button type="submit" class="auth-button">Registrarse</button>
    </form>
    <p class="register-link">¿Ya tienes cuenta? <a href="{% url 'login' %}">Inicia sesión aquí</a></p>
</div>
{% endblock %}
