{% load static %}
<nav class="navbar">
    <div class="navbar-section">
        <a href="#" class="navbar-logo">P</a>
        <span class="navbar-title">PISU Community</span>
        <a href="#" class="navbar-link">ANUARIO</a>
        <a href="#" class="navbar-link">FORO</a>
    </div>
    <div class="navbar-section">
        <input type="text" class="navbar-search" placeholder="Buscar...">
    </div>
    <div class="navbar-section navbar-user">
        <span class="navbar-user-name">Fernando Gael Hernandez Ma..</span>
        <span class="navbar-user-info">Ing. Computación, CUCOSTA</span>
        <img src="{% static 'images/usuario.png' %}" alt="User icon" class="navbar-user-icon">
    </div>
</nav>