/* Perfil.css */
form.card {
    background-color: #1e1e1e;
    color: #cdd6f4;
    border-radius: 10px;
}

form.card .form-label {
    font-weight: 500;
    color: #cdd6f4;
}

form.card input,
form.card select {
    background-color: #262626;
    color: #cdd6f4;
    border: 1px solid #333333;
}

form.card input[disabled] {
    background-color: #333845;
    color: #cdd6f4;
}

form.card button {
    background-color: #3a3a3a;
    color: #ffffff;
    border: none;
}

form.card button:hover {
    background-color: #5a5a5a;
    color: #ffffff;
}
