{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'PISU_Foro/css/PISU_Foro.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center">Lista de Discusiones</h1>

    <div class="text-end mb-3">
        <a href="{% url 'crear_discusion' %}" class="btn btn-success">Crear Nueva Discusión</a>
    </div>

    {% if discusiones %}
        <ul class="list-group">
            {% for discusion in discusiones %}
                <li class="list-group-item">
                    <a href="{% url 'ver_discusion' discusion.id %}" class="text-decoration-none">
                        {{ discusion.titulo }}
                    </a>
                    <small>{{ discusion.fecha_creacion|date:"d M Y" }}</small>
                    <p class="mb-0 text-muted">Iniciada por {{ discusion.creador.username }}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="text-muted text-center">No hay discusiones disponibles.</p>
    {% endif %}
</div>
{% endblock %}
