{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'PISU_Foro/css/PISU_Foro.css' %}">
{% endblock %}

{% block content %}
<div class="forum-container">
    <h1>Discusiones</h1>
    <a href="{% url 'crear_discusion' %}" class="create-discussion-button">Crear nueva discusión</a>
    <ul class="discussion-list">
        {% for discusion in discusiones %}
            <li class="discussion-item">
                <a href="{% url 'ver_discusion' discusion.id %}">{{ discusion.titulo }}</a> por {{ discusion.autor }}
            </li>
        {% empty %}
            <p class="no-discussions">No hay discusiones disponibles.</p>
        {% endfor %}
    </ul>
</div>
{% endblock %}
