{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'PISU_Foro/css/PISU_Foro.css' %}">
{% endblock %}

{% block content %}
<div class="forum-container">
    <h1>{{ discusion.titulo }}</h1>
    <p class="discussion-author">Iniciada por {{ discusion.autor }}</p>
    <div class="discussion-content">{{ discusion.contenido }}</div>

    <h2>Publicaciones</h2>
    <ul class="post-list">
        {% for publicacion in publicaciones %}
            <li class="post-item">
                <p>{{ publicacion.contenido }}</p>
                <span class="post-author">- {{ publicacion.autor }}</span>
            </li>
        {% empty %}
            <p class="no-posts">No hay publicaciones en esta discusión.</p>
        {% endfor %}
    </ul>

    <a href="{% url 'crear_publicacion' discusion.id %}" class="create-post-button">Añadir publicación</a>
</div>
{% endblock %}
