/* Estilos personalizados para el foro */

/* Tarjetas */
.card-header {
    font-weight: bold;
}

.card-body p {
    margin-bottom: 1rem;
}

/* Botones */
.btn-success {
    background-color: #198754;
    border-color: #198754;
}

.btn-success:hover {
    background-color: #157347;
    border-color: #146c43;
}

/* Listas */
.list-group-item {
    margin-bottom: 0.5rem;
    padding: 1rem;
    border-radius: 8px;
    transition: box-shadow 0.3s ease;
}

.list-group-item:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
}