{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    {% block head %}<!--Contenido de Head -->{% endblock %}
    <title>{% block title %}PISU-Community{% endblock %}</title>
</head>
<body>
    <header> 
        {% include "includes/navbar.html" %}
    </header>

    <main>
        {% block content %}
        <!-- Contenido específico de cada página -->
        {% endblock %}
    </main>

    <footer>
        {% include "includes/footer.html" %}
    </footer>
    
    <script src="{% static 'js/navbar.js' %}"></script>
</body>
</html>
